.Footer{
    width: 100%;
    padding: 10px;
    background-color: #0E0D26; 
    color: white;
}
footer p{
    text-align: center;
    width: 100%;
    padding-top: 3vh;
    height: 10vh;
}
p i{
    color:yellow;
}
p span {
    color: slateblue;
}
@media(width<=750px){
    footer p{
        font-size: 70%;
    }
}