.card-container{
    width: 100%;
    padding: 20px 15px;
    background-color: #fff;
}
.card{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    align-items: center;
}
.heading{
   color: red;
   background-color:darkgrey;
   padding: 10px 0;
   text-align: center;
}
.card-heading,.card-desc{
   text-align: center;
}
.card-img{
    width: 100%;
    height: 200px;
}